@charset "utf-8";
* {
	padding: 0px;
	margin: 0px;
}
#wrapper {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #header {
	height: 159px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #navigation {
	margin-right: auto;
	margin-left: auto;
	height: 45px;
	width: 1024px;
}
#wrapper #about_content {
	height: 486px;
	width: 1024px;
	padding-right: 0px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/tye_about_page.jpg);
	background-position: -1.5px;
}
#wrapper #about_content center #text {
	float: right;
	height: 200px;
	width: 200px;
	position: relative;
	padding-top: 80px;
	padding-right: 80px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFF;
}
